:root {
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --button-color: #f5f4fa;
  --border-button-color: #ececec;
  --background-hero: #c4c4c4;
  --color--social: #afb1b8;
  --background-clients: #e5e5e5;
  --background-proposition: rgba(47, 48, 58, 0.8);
  --background-desciption: rgba(33, 150, 243, 0.9);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --background-label: rgba(255, 255, 255, 0.3);
  --input-color: rgba(255, 255, 255, 0.6);
  --background-footer-button: rgba(255, 255, 255, 0.1);
  --border-input: rgba(33, 33, 33, 0.2);
  --color-placecholder: rgba(117, 117, 117, 0.5);
  --background-sent-button: #188ce8;
  --background-color-footer:#2F303A;
  --buuton-deskrption-color:#2196F3;
  --button-hover:#188ce8;
  --main-font:"Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.body {
  color: var(--titel-text-color);
  overflow-x: hidden;
}

.title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
}

.text {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subtitle {
    padding-top: 94px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.pre-subtitle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
}

.logo {
  display: block;
  font-family: var(--accent-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  width: 100%;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus, .button:active {
  color: var(--secondary-color);
  background-color: var(--button-hover);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social-icons_item {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.social-icons_item--margin {
  margin-right: 0;
}

.social-icons_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons_link:focus, .social-icons_link:hover {
  background-color: var(--accent-color);
  fill: var(--secondary-color);
}

.header {
  position: relative;
  background-color: var(--secondary-color);
}

.mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: none;
  }
}

.open-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  margin: 10px 0;
  background-color: #fff;
  color: #000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-button_burger {
  height: 16px;
}

@media screen and (max-width: 767px) {
  .page-header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: -20px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header_logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.page-header_nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .page-header_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo_web {
  color: var(--accent-color);
}

.page-header_logo_studio {
  color: var(--titel-text-color);
}

@media screen and (min-width: 768px) {
  .page-header_site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-left: 88px;
  }
}

.site-nav_list {
  margin-right: 50px;
}

.site-nav_link {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .site-nav_link {
    text-decoration: none;
    color: var(--titel-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav_link:focus, .site-nav_link:hover, .site-nav_link:active {
    color: var(--accent-color);
  }
}

.site-nav_link--active {
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav_link--active::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  margin-top: 28px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav_list--portfolio_active {
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav_list--portfolio_active::after {
  display: block;
  position: absolute;
  content: "";
  width: 78px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contacts_list {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts_list {
    margin-bottom: 0;
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .page-header_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .page-header_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.smart-use {
  width: 10px;
  height: 16px;
}

.contacts_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-text-color);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts_link:hover, .contacts_link:focus, .contacts_link:active {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts_link {
    margin-right: 0;
  }
}

.contacts_icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.contacts_link:hover .contacts_icon,
.contacts_link:focus .contacts_icon,
.contacts_link:active .contacts_icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.mobile-nav {
  position: absolute;
  background-color: var(--secondary-color);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.mobile-nav .container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.mobile-nav .close-button {
  position: absolute;
  right: 15px;
  top: 21px;
  color: var(--titel-text-color);
  border: none;
}

.mobile-nav .close-button:focus,
.mobile-nav .close-button:hover {
  fill: var(--accent-color);
}

.mobile-menu__item {
  margin-bottom: 36px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--titel-text-color);
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mobile-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-media__item {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--border-input);
}

.mobile-menu__link-active,
.mobile-contacts__link-tel,
.mobile-media__link {
  color: var(--accent-color);
}

.hero {
  margin: 0 auto;
  text-align: center;
  background-position: center;
  height: 400px;
  width: 100%;
  border-top: 1px solid #ececec;
  background-color: var(--background-clients);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background/headertel.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background/headertel.jpg);
}

.hero_title {
  padding-top: 118px;
  color: var(--secondary-color);
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.615;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background/headertel@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background/headertel@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    text-align: center;
    background-position: center;
    height: 400px;
    max-width: 768px;
    background-color: var(--background-clients);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background/headertab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background/headertab.jpg);
  }
  .hero_title {
    font-size: 26px;
    line-height: 1.615;
    padding-top: 118px;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background/headertab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background/headertab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    margin: 0 auto;
    text-align: center;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    background-color: var(--background-clients);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background/header.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background/header.jpg);
  }
  .hero_title {
    font-size: 44px;
    line-height: 1.363;
    padding-top: 200px;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background/header@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background/header@2x.jpg);
  }
}

.hero_button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages_wrapper {
  width: 100%;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  background: var(--button-color);
  border-radius: 4px;
}

.advantages_icon {
  width: 100%;
}

.advantages_list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantages_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.advantages_item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantages_item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages_item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages_pre-subtitle {
  margin-top: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .advantages_pre-subtitle {
    text-align-last: left;
  }
}

.advantages_text {
  font-size: 14px;
  line-height: 1.714;
}

@media (max-width: 1199px) {
  .proposition {
    display: none;
  }
}

.proposition_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.proposition_item {
  margin-right: 30px;
  width: 370px;
}

.proposition-list-li:last-child {
  margin-right: 0;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.proposition_pre-subtitle {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: var(--secondary-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background: var(--background-proposition);
  text-align: center;
  width: 370px;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
  }
}

.team_list {
  width: 100%;
  text-align: center;
  margin-bottom: -30px;
  margin-right: -30px;
  margin-right: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.team_item {
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team_item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team_item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.team_pre-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.social-icons-team {
  padding-bottom: 24px;
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .social-icons-team {
    padding-bottom: 30px;
  }
}

.social-icons_link {
  fill: var(--color--social);
}

.team_text {
  font-size: 16px;
  line-height: 1.187;
}

.clients_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
  margin-right: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .clients_list {
    padding-bottom: 94px;
  }
}

.clients_icon {
  fill: var(--color--social);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link:hover .clients_icon,
.clients_link:focus .clients_icon {
  fill: var(--accent-kolor);
}

.clients_item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--color--social);
  width: 100%;
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_item:hover {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients_item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients_item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.clients_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_item--margin {
  margin-right: 0;
}

.footer {
  background-color: #2f303a;
}

.footer_container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: unset;
  }
}

.footer_logo-studio {
  color: var(--secondary-color);
}

.footer_contacts {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer_contacts {
    margin-right: 70px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.adress {
  margin-top: 20px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress {
    margin-bottom: 9px;
  }
}

.footer_adress {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contacts-footer_link {
  font-family: Robovar(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer_link.contacts-footer_link:hover, .contacts-footer_link.contacts-footer_link:focus, .contacts-footer_link.contacts-footer_link:active {
  color: var(--accent-color);
}

.contacts-footer_item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-footer_item {
    margin-bottom: 9px;
  }
}

.footer-social-link {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-social-link {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.footer_pre-subtitle,
.subscribe_pre-subtitle {
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.social-icons_link--background {
  background-color: var(--background-footer-button);
}

.subscribe {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
    margin-left: 0;
    margin-right: 0;
  }
}

.subscribe_button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .subscribe_button {
    margin-top: 0;
  }
}

.subscribe_form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subscribe_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscribe_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe_label {
    margin-right: 12px;
  }
}

.subscribe_input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--input-color);
  width: 100%;
  height: 50px;
  border: 1px solid var(--background-label);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--background-color-footer);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .subscribe_input {
    width: 450px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe_input {
    width: 358px;
    height: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);
  z-index: 9;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 609px;
  overflow-y: scroll;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal:hover,
.modal:focus {
  border-color: var(--accent-color);
}

.modal_button {
  position: absolute;
  top: 1.37%;
  right: 1.51%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button:hover,
.modal_button:focus {
  fill: var(--accent-color);
}

.form {
  width: 100%;
}

.form_group {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.form-checkbox {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.form_field {
  position: relative;
  margin-bottom: 28px;
}

.form_field-top {
  margin-top: 30px;
}

.form_field--margin {
  margin-bottom: 10px;
}

.form_label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding-left: 42px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input {
  height: 40px;
  padding-left: 42px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border-input);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label {
  -webkit-transform: translate(-60%, -40px);
          transform: translate(-60%, -40px);
}

.form_input:focus ~ .form_icon {
  fill: var(--accent-color);
}

.form_icon {
  position: absolute;
  top: 50%;
  left: 15px;
  display: inline-block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
  color: var(--titel-text-color);
}

.form_input:focus + .form_label {
  color: var(--primary-text-color);
}

.textarea {
  resize: none;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 120px;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--border-input);
  margin-top: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: var(--accent-color);
}

.form-textarea_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--color-placecholder);
}

.textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--color-placecholder);
}

.textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--color-placecholder);
}

.textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--color-placecholder);
}

.form-checkbox_input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox_icon {
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--titel-text-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

.form-checkbox_input:focus + .form-checkbox_label .form-checkbox_icon {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.form-checkbox_agreement-conditions {
  text-decoration: underline;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .form-checkbox_text,
  .form-checkbox_agreement-conditions {
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
  }
}

@media screen and (min-width: 1200px) {
  .form-checkbox_text,
  .form-checkbox_agreement-conditions {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

.sent-button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin: 0 auto;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  margin-right: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #ECECEC;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-list {
    padding-top: 94px;
  }
}

.first {
  width: 128px;
}

.second {
  width: 145px;
}

.third {
  width: 103px;
}

.fourth {
  width: 130px;
  margin-right: 0px;
}

.buttons-list_item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .buttons-list_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.buttons-list_button {
  height: 38px;
  background-color: var(--button-color);
  color: var(--titel-text-color);
}

.buttons-list_button--active {
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin-right: 8px;
  width: 73px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .projects {
    padding-bottom: 60px;
    padding-top: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-bottom: 94px;
    padding-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}

.projects_item {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  width: 100%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects_item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .projects_item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects_item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.card-overlay_text {
  position: absolute;
  width: 370px;
  height: 294px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card-overlay_text,
.card:focus .card-overlay_text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.projekts_pre-subtitle {
  color: var(--titel-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}

.projekts_pre-subtitle,
.projects_text {
  padding-left: 24px;
}

.projects_text {
  padding-bottom: 20px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}

.card {
  width: 100%;
}

.card-overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
}

body {
  width: 100%;
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */