.buttons-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  margin-right: 0;
  margin-bottom: 0;
  @media screen and (min-width: 768px){
    display: flex;
    padding-top: 60px;
    justify-content: center;
    border-top: 1px solid #ECECEC;
}
@media screen and (min-width: 1200px){
  padding-top: 94px;
    
}
}
.first {
  width: 128px;
}
.second {
  width: 145px;
}
.third {
  width: 103px;
}
.fourth {
  width: 130px;
  margin-right: 0px;
}
.buttons-list_item{
  margin-right: 8px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px){
  display: flex;
  justify-content: space-around;
 
}
}
.buttons-list_button {
  height: 38px;
  background-color: var(--button-color);
  color: var(--titel-text-color);
}
.buttons-list_button--active {
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  margin-right: 8px;
  width: 73px;
}
 

