
  .hero {
    margin: 0 auto;
    text-align: center;
    background-position: center;
    height: 400px;
    max-width: 480px;
    background-color: var(--background-clients);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/background/headertel.jpg);
    &_title {
      padding-top: 118px;
      color: var(--secondary-color);
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.615;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/background/headertel@2x.jpg);
    }
  }

@media screen and (min-width: 480px) {
  .hero {
    margin: 0 auto;
    text-align: center;
    background-position: center;
    height: 400px;
    max-width: 768px;
    background-color: var(--background-clients);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/background/headertab.jpg);
    &_title {
      font-size: 26px;
      line-height: 1.615;
      padding-top: 118px;
      color: var(--secondary-color);
      margin-bottom: 30px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/background/headertab@2x.jpg);
    }
  }
}
@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    text-align: center;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    background-color: var(--background-clients);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/background/header.jpg);
    &_title {
      padding-top: 200px;
      color: var(--secondary-color);
      margin-bottom: 30px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/background/header@2x.jpg);
    }
  }
}
.hero_button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-kolor);
  color: var(--secondary-color);
}
