.projects {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  padding-top: 40px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 50px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
.projects_item {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 100%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.card-overlay_text {
  position: absolute;
  width: 100%;
  padding-top: 77px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  height: 294px;
  padding-right: 24px;
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translateY(0);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .card:hover &,
  .card:focus & {
    transform: translateY(-100%);
  }
  @media screen and (min-width: 768px){
    padding-top: 49px;
    padding-bottom: 49px;
  }
  @media screen and (min-width: 768px){
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.projekts_pre-subtitle {
  color: var(--titel-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}
.projekts_pre-subtitle,
.projects_text {
  padding-left: 24px;
}
.projects_text {
  padding-bottom: 20px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}
.card {
  width: 100%;
}
.card-overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
  
}
