.team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.team_list {
  width: 100%;
  text-align: center;
  margin-bottom: -30px;
  margin-right: -30px;
  margin-right: 0;
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.team_item {
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.team_pre-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
}
.social-icons-team {
  padding-bottom: 24px;
  margin-top: 16px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.social-icons_link {
  fill: var(--color--social);
}
.team_text {
  font-size: 16px;
  line-height: 1.187;
}
