:root {
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accent-kolor: #2196f3;
    --secondary-color: #ffffff;
    --button-color: #f5f4fa;
    --border-button-color: #ececec;
    --background-hero: #c4c4c4;
    --color--social: #afb1b8;
    --background-clients: #e5e5e5;
    --background-proposition: rgba(47, 48, 58, 0.8);
    --background-desciption: rgba(33, 150, 243, 0.9);
    --background-backdrop: rgba(0, 0, 0, 0.2);
    --background-label: rgba(255, 255, 255, 0.3);
    --input-color: rgba(255, 255, 255, 0.6);
    --background-footer-button: rgba(255, 255, 255, 0.1);
    --border-input: rgba(33, 33, 33, 0.2);
    --color-placecholder: rgba(117, 117, 117, 0.5);
    --background-sent-button: #188ce8;
    --background-color-footer:#2F303A;
    --buuton-deskrption-color:#2196F3;
    --button-hover:#188ce8;
    --main-font:"Roboto", sans-serif;
    --accent-font: "Raleway", sans-serif;
  }